<!--
<h2 class="mat-display-1" >Ritmos mas populares!</h2>
<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let rhythm of rhythms | async"
              (click)="OnMatCardClickEvent(rhythm)">
      <mat-card-title >{{rhythm.name}}</mat-card-title>
      <img mat-card-image [src]="rhythm.picture">
    </mat-card>
</div>
-->
<div class="p-grid p-justify-center">
  <div class="p-col-12">
    <h2 class="mat-display-1" >Ritmos mas populares!</h2>
  </div>
  <div class="p-col-10">
    <div class="p-grid p-justify-center">
        <mat-card class="card-picture" *ngFor="let rhythm of rhythms | async"
                (click)="OnMatCardClickEvent(rhythm)">
          <mat-card-title >{{rhythm.name}}</mat-card-title>
          <img mat-card-image [src]="rhythm.picture">
        </mat-card>
    </div>
  </div>
</div>



